[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Venkattk
[access "refs/for/refs/*"]
	read = group user/Venkattk
	push = group user/Venkattk
	label-Code-Review = -2..+2 group user/Venkattk
	label-Verified = -1..+1 group user/Venkattk
	rebase = group user/Venkattk
	removeReviewer = group user/Venkattk
	submit = group user/Venkattk
[access "refs/heads/*"]
	read = group user/Venkattk
	create = group user/Venkattk
	push = +force group user/Venkattk
	pushMerge = group user/Venkattk
[access "refs/tags/*"]
	push = +force group user/Venkattk
	pushTag = group user/Venkattk
	pushSignedTag = group user/Venkattk
